DOCTYPE=html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Dashboard
        script(type="text/javascript" src="../public/js/dashboard.js")
        //-link(rel="stylesheet" href="../public/css/event.css")
        link(rel="stylesheet" href="../public/css/events.css")
        link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css")
        script(defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js")
        link(href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet")
    body
        include nav-bar.pug
        div(class='page-container')       
            div(class='eventsInCityContainer')  
                div(class='dashboard-header-1')
                    h2(class='header-1') Here are the events in your city:
                div(id='eventsInYourCity')
            div(class='hostContainer')
                div(class='dashboard-header-2')
                    h2(class='header-1') Here are the events you are hosting:
                div(id='host')
            div(class='attendingContainer') 
                div(class='dashboard-header-3')
                    h2(class='header-1') Here are the events you are attending:   
                //- div(id='attend')
                //-     h2(class='color-me size-me div-events space-me') 
                div(id='attend')
        div(class='footer-container')
            include ./footer.pug
