link(rel="stylesheet" href="../public/css/footer.css")
footer(class="footer")
    div(class="footer__div")
        div
            a(class="footer__link" href="/about") About
        //- div
        //-     a(class="footer__link" ) Contact
        div
            a(class="footer__link" href="/dashboard") Dashboard
        div
            p 2020 Tequila With Strangers
        div
            p Created by 
                a(class="footer__link" href="https://github.com/theuncoolgirl") Erin, 
                a(class="footer__link" href="https://bpu991.github.io./") Ben, 
                a(class="footer__link" href="https://github.com/whitejamesthe2nd") James 
                span and 
                a(class="footer__link" href="http://jarondegen.com") Jaron
        div(class="git-link-div")
            a(class="git-a" href="https://github.com/TequilaWithStrangers/aaTequilaWithStrangers")
                img(class="git-logo" src="/public/images/gh.png")