
mixin option(value, text)
  option(value=value selected=(value === cityId)) #{text}

DOCTYPE=html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel='stylesheet', href='/public/css/form.css')
        link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css")
        script(defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js")
        title Tequila With Strangers
    body
      include nav-bar.pug
      block content