.page-container {
    width: 100%;
    min-height: 1200px;
    background-color: blanchedalmond;
    display: grid;
    grid-template-rows: 0.2fr 0.1fr 1fr;
    font-family: 'Kumbh Sans', sans-serif;
}

.head-parent .move-banner {
    grid-row: 1/2;
    height:50px;
}

.content-container {
    grid-row: 2/3;
    display: grid;
    grid-template-rows: 0.6fr 0.5fr 0.6fr;
    /* overflow-x: auto; */
}

.header-1 {
    grid-row: 1/2;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: large;
}

.content-1 {
    display: flex;
    grid-row: 2/3;
    justify-content: center;
}

.header-2 {
    grid-row: 3/4;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: large;
}

.div-events {
    grid-row: 3/4;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-left: 200px;
}

.head-parent{
    height:200px;
  }
  .color-me{
    color:rgba(239, 98, 54, 1);
  }
.head-card{
    font-size: 40px;
    color: black;
    display:grid;
    justify-content: space-around;
    margin-top: 2%;
    margin-bottom: 2%;
    /* margin-left: 200px;
    margin-right:200px; */
  }
/* h2{
    
    position: relative;
    top: 30px;
    font-size: 38px;
}
h3{
    position: relative;
    bottom: 20px;
    font-size: 24px;
} */
.event__details{
    position: relative;
    top:30px;
    border: 2px solid gray;
    /* padding: 10px; */
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    /* height: 300px; */
    width: 200px;
    max-height: 350px;
}
.grid-card{
    display: inline-block;
    margin: 20px;
    /* height: 300px; */
}
a.event-link{
    color: inherit;
}
/* .eventsInYourCity{
    display:flex;
    flex-direction:row;
    width:20vw;
} */

.box {
    /* height: 400px; */
    width: 400px;
}
.button1 {
    font: bold 11px Arial;
    text-decoration: none;
    background-color: rgba(239, 98, 54, 1);
    color: #333333;
    border-radius:25px;
    padding: 2px 6px 2px 6px;
    border-top: 1px solid #CCCCCC;
    border-right: 1px solid #333333;
    border-bottom: 1px solid #333333;
    border-left: 1px solid #CCCCCC;
  }
  .move-banner{
    width: 100%;
    height:250px;
    background: url("../images/move-banner.gif") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer-container {
    background-color: blanchedalmond;
    padding-top: 300px;
    height: 100px;
}