body{
    font-family: Average Sans, sans-serif;
    font-weight: bold;
    font-style: normal;
    background-color: blanchedalmond;
    font-weight: bold;
}
.event{
    display: grid;
    grid-template-columns: 1fr 1fr;

}
.event__host-container{
    grid-column: 2;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    margin-right:25%;
}

.event-name-title{
    margin-top: 30px;
    font-size: 3rem;
    font-family: Average Sans, sans-serif;
    font-weight: bold;
    font-style: normal;
    text-align: center;
    color:rgba(239, 98, 54, 1);
}

.event__host{
    display: flex;
    justify-content: center;
    font-size: 1.3rem;
    text-align: center;
}

.event__description{
    margin: 30px;
    border: 2px solid gray;
    width: 70%;
    background-color: white;

}

.event__details-container{
    grid-column: 1;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 25%;
}

.event__details-top-space{
    width: 100%;
    height: 10%;
}

.event__join-user{
    padding: 30px 10px;
    text-align: center;
    color:rgba(239, 98, 54, 1);
    font-weight: bold;
}

.event__details{
    border: 2px solid gray;
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: flex-start;
    width: 70%;
    background-color: white;
    box-sizing: border-box;
}

.event-join-button{
    display:flex;
    justify-self: center;
    align-self: center;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 100%;
    background: linear-gradient(to bottom, rgba(239, 98, 54, 1) 5%, rgba(239, 98, 54, 1) 100%);
    background-color: rgba(239, 98, 54, 1);
    border-radius: 6px;
    border: 1px solid rgba(239, 98, 54, 1);
    display: inline-block;
    color: #ffffff;
    font-family: Average Sans, sans-serif;
    font-weight: bold;
    font-style: normal;
    letter-spacing: 1px;
    text-decoration: none;
    border-color: transparent;
}

.event-join-button:hover{
    color:white;
}

.event-see-other{
    color: black;
    font-size: 1rem;
    margin-top: 10px;
    font-weight: 300;
}

.event-what-is{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    border: 2px solid gray;
    justify-content: center;
    padding: 10px;
    margin-top: 35px;
    width: 70%;
    text-align: center;
    background-color: white;
    box-sizing: border-box;
}

.about{
    background-color:#24ac53;
    width: 70%;
    padding: 20px;
    margin-top: 30px;
    margin-bottom: 50px;
    border-radius: 1.5%;
}

.event__host-picture-container {
    width: 275px;
    height: 340px;
    background-color:#24ac53;
    display: flex;
    justify-content: center;
    margin: 20px;
    border-radius: 1.5%;
    box-shadow: 2px 2px 3px #aaaaaa;
}

.event__host-picture{
    width: 250px;
    height: 275px;
    margin-top: 10px;
    box-shadow: 1px 1px 2px #aaaaaa;

}

.is-hidden{
    display: none;
}

.is-hidden{
    display: none;
}
a.event-link{
    color: inherit;
}
#eventsInYourCity{
    display:flex;
    flex-direction:row;
}
.dashCard{
    width:20vw;
    margin:30px;
    margin-bottom:30px
}
