

.footer{
    padding: none;
    height: 100px;
    background-color:#24ac53;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    justify-self: center;
    background-color: #24ac53;

}

.footer__div{
    width:100%;
    height: 100%;
    background-color: #24ac53;
    display: flex;
    justify-content: space-evenly;
    /* align-items: center; */
    padding-top: 2%;
    border: none;
}

.footer__link{
    color:white;
}

.git-logo{
    width: 70%;
}
