DOCTYPE=html
html(lang="en")
    head
        link(rel="stylesheet" href="../public/css/about.css")
        link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css")
        title About
    body
        include nav-bar.pug
        //- div(class="move-banner")
        div(class="page-container")
            div(class="about-body-text-container")
                h1(class="about-body-text__tite") About
                h2(class="about-body-text__header") It's good to feel at home.
                p(class="about-body-text__text") Tequila With Strangers is a community organization that's all about making our cities feel more like neighborhoods by breaking the barriers between strangers.
                p(class="about-body-text__text") Why? Because neighborhoods create a sense of belonging. Neighborhoods let us be ourselves. Neighborhoods make us feel like someone has our back.
                p(class="about-body-text__text") 
                    strong(class="about-body-text__text-strong") What does this have at all to do with sitting with strangers for conversations?
                p(class="about-body-text__text") There are two massive hurdles that often stop us from smiling at each other on the street, taking our headphones out on the bus, or just generally treating others with a huge amount of empathy, understanding, and awesome.
                div(class="list-container")
                    ol
                        li(class="about-body-text__text") We have our own lives to lead, and empathizing with others is hard when we're stuck in our own heads.
                        li(class="about-body-text__text") We don't know how others will respond if we actually do something so outlandish as saying, "Hi" or asking "How are you? No really, how are you?"
                p(class="about-body-text__text") So we have a community of hosts that bring small groups of people together for no-strings-attached conversations. Just to talk about anything and everything. It could be deep. It could be funny. It could be awkward. It could be vulnerable. It's different every time, and you can't really plan for that.
                p(class="about-body-text__text") And it's in this that we can be more understanding of the "strangers" around us. And if more people can share that experience, we might start seeing the objects between us and the rest of our lives as, well, real people. And that makes the space we share feel a lot more like home.
                p(class="about-body-text__text") It starts with a conversation.
                h2(class="about-body-text__header") Who is behind all of this?
                p(class="about-body-text__text") Hey! we are Jaron, Erin, Ben and James and we started TWS, and if you want to talk, send us an email. If you tell me a story, we are 10x more likely to reply really fast. Otherwise, forgive us if we take a few days.
                p(class="about-body-text__text") This website would not exist if it weren't for an incredible team of developers in the a/A community who generously give their genius to making this possible. Get to know them here. If you want to help us, check out our public GitHub pages. Then, email us and let's build a smaller world together.
                div(class="git-hub-container")
                    a(class="git-hub-link button" href="https://github.com/jarondegen") Jaron Degen
                    a(class="git-hub-link button" href="https://github.com/theuncoolgirl") Erin Shields
                    a(class="git-hub-link button" href="https://github.com/whitejamesthe2nd") James White
                    a(class="git-hub-link button" href="https://github.com/bpu991") Ben Pu
        include footer.pug