DOCTYPE=html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Dashboard
        script(type="text/javascript" src="../public/js/dashboard.js")
        link(rel="stylesheet" href="../public/css/event.css")
        link(rel="stylesheet" href="../public/css/events.css")
        link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css")
        script(defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js")
        link(href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet")
    body
        include nav-bar.pug
        div(class='page-container')
            div(class='div-events color-me size-me')
                h2 Hello These are the Tequilla Times in your city!
            div(id='eventsInYourCity')
            div(id='host')
            div
                h2(class='color-me size-me div-events space-me') These are the Tequila Times you are currently attending
            div(id='attend')
    include ./footer.pug
