link(rel="stylesheet" href="../public/css/footer.css")
footer(class="footer")
    div(class="footer__div")
        div
            a About
        div
            a Contact
        div
            a(href="http://localhost:8080/dashboard") Dashboard
        div
            p 2020 Tequila With Strangers
        div
            p Created by Erin, Ben, James and Jaron