link(rel="stylesheet" href="../public/css/footer.css")
footer(class="footer")
    div(class="footer__div")
        div
            a(href="/about") About
        div
            a Contact
        div
            a(href="/dashboard") Dashboard
        div
            p 2020 Tequila With Strangers
        div
            p Created by 
                a(href="https://github.com/theuncoolgirl") Erin, 
                a(href="https://github.com/bpu991") Ben, 
                a(href="https://github.com/whitejamesthe2nd") James 
                span and 
                a(href="https://github.com/jarondegen") Jaron