<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel='stylesheet', href='/public/css/style.css')
        title Tequila With Strangers
    body
      div(class='wrapper')
        main(class='wrapper-content')
          div(class='intro-to-tws cover-photo')
            header
              div(class='container')
                a(class='tws-logo-type')
                span(class='menu-expando tws-logo-type')
                nav(class='nav-list')
            div(class='content')
              div(class='content-box')
                h1(class='cover-photo-lede') Everyone is interesting
                span(class='cover-photo-subtext') But you don't discover that when you're staring at a screen.
                a(class='sign-up' href='______')
                  button(class='orange cover-photo-cta') Let's Get Tequila
            div(class='tt-description-wrapper')
              div(class='what-is-teq-time container space')
                div(class='part')
                  h2(class='tequila-basics') Show up for tequila time
                  p(class='tequila-basics-subtext') You and a few others join a host at a cafe.
                div(class='part')
                  h2(class='tequila-basics') Have a real conversation
                  p(class='tequila-basics-subtext') You talk for two hours about anything.
                div(class='part')
                  h2(class='tequila-basics') See what happens
                  p(class='tequila-basics-subtext') That's it. No strings attached.
          div(class='container')
            div(class='tequila-explainers')
              h3(class='capitalize homepage-section-lead') So why are thousands of people doing it?
              div(class='tequila-explainer')
                img(class='left tequila-explainer-illustration' src='___')
                div(class='tequila-explainer-copy right weird')
                  h2(class='tequila-explainer-header') It's weird.
                  p(class='tequila-explainer-body') Everyone at tea time is stepping a little out of their comfort zone. This makes it so much easier to actually learn something unexpected about the people around you. Because open minds are a prerequisite around here.
              div(class='tequila-explainer')  
                img(class='right tequila-explainer-illustration' src='___') 
                div(class='tequila-explainer-copy left never-meet')
                  h2(class='tequila-explainer-header') We won't meet otherwise.
                  p(class='tequila-explainer-body') In all likelihood, our paths won’t cross for any reason. So often, we only meet people through work, school, or friends of friends. And even then, it’s questionable. So basically, we manufacture serendipity.
              div(class='tequila-explainer')
                img(class='left tequila-explainer-illustration' src='___')
                div(class='tequila-explainer-copy right high-five')
                  h2(class='tequila-explainer-header') Your hands are made for high fiving!
                  p(class='tequila-explainer-body') And your eyes are made…for eye contact! Real humans are so much cooler than their tweets or Instagram pictures. Tea time has real humans! #nofilter!
          div(class='cta-footer cover-photo')   
            div(class='content')
              div(class='content-box')
                h1(class='small dark mid-page-cta') Actually talk to people.
                a(class='sign-up' href='/events')
                  button(class='orange cover-photo-cta') Let's get tea
