<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel='stylesheet', href='/public/css/landing-page.css')
        //- link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css")
        //- script(defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js")
        link(rel="stylesheet" href="../public/css/landing-page.css")
        title Tequila With Strangers
    body
      div(class='wrapper')
        main(class='wrapper-content')
          include nav-bar.pug
          
          div(class='header-container')
            div(class='shot-glass')
              img(class='shot-glass-1' src='../public/images/shot-glass.png')
            //- div(class="move-banner")
            //- img(class='header-photo-img' src='../public/images/tequila.jpg')
            div(class='header-text')
                div(class='everyone-is-interesting')
                    h1(class='cover-photo-lede') Everyone is interesting
                div(class='but-you-dont-discover')
                    span(class='cover-photo-subtext') But you don't discover that when you're staring at a screen.
                div(class='sign-up-button')
                    a(class='sign-up' href='http://localhost:8080/sign-up')
                        button(class='orange sign-up-button-1') Let's Get Tequila
          div(class='tt-description-wrapper')        
              div(class='what-is-teq-time container space')
                div(class='part')
                  h2(class='tequila-basics') Show up for tequila time
                  p(class='tequila-basics-subtext') You and a few others join a host at a bar.
                div(class='part')
                  h2(class='tequila-basics') Have a real conversation
                  p(class='tequila-basics-subtext') You talk for two hours about anything.
                div(class='part')
                  h2(class='tequila-basics') See what happens
                  p(class='tequila-basics-subtext') That's it. No strings attached.
          div(class='container')
            div(class='tequila-explainers')
                h3(class='capitalize homepage-section-lead') So why are thousands of people doing it?
                div(class='explainer-layout')
                    div(class='tequila-illus-1')
                        img(class='left tequila-explainer-illustration-1' src='../public/images/grouped-4.png')
                    div(class='tequila-explainer-1 right weird')
                            h2(class='tequila-explainer-header-1') It's weird.
                            p(class='tequila-explainer-body-1') Everyone at tea time is stepping a little out of their comfort zone. This makes it so much easier to actually learn something unexpected about the people around you. Because open minds are a prerequisite around here.
                    div(class='tequila-illus-2')  
                        img(class='right tequila-explainer-illustration-2' src='../public/images/bottle-pouring.png') 
                    div(class='tequila-explainer-2 left never-meet')
                            h2(class='tequila-explainer-header-2') We won't meet otherwise.
                            p(class='tequila-explainer-body-2') In all likelihood, our paths won’t cross for any reason. So often, we only meet people through work, school, or friends of friends. And even then, it’s questionable. So basically, we manufacture serendipity.
                    div(class='tequila-illus-3')
                        img(class='left tequila-explainer-illustration-3' src='../public/images/Pouring-glass-pic.png')
                    div(class='tequila-explainer-3 right high-five')
                            h2(class='tequila-explainer-header-3') Your hands are made for high fiving!
                            p(class='tequila-explainer-body-3') And your eyes are made…for eye contact! Real humans are so much cooler than their tweets or Instagram pictures. Tea time has real humans! #nofilter!
          div(class='cta-footer cover-photo')   
            div(class='content')
              div(class='content-box')
                h1(class='footer-page-cta') Actually talk to people.
                div(class='centered-button')
                    a(class='sign-up' href='/events')
                    button(class='orange footer-button-cta') Let's get tequila
          include footer.pug
