html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title New Event
    body
      form(method="post" action="/events")
        input(type="hidden" name="_csrf" value=csrfToken)
        div
          label Name
          input(type="text" name="name" required)
        div 
          label Description
          textarea(name="description")
        div
          label Venue Name
          input(name="venue" type="text" required)
        div
          label Address
          input(type="text" name="address" required)
        div
          label limit
          input(type="number" name="limit" required)
        div
          label Date
          input(type="date" name="date" required)
        div
          label Time
          input(type="time" name="time" required)
        div
          label City
          select(name="cityId" required)
            each city in cities
              option(value=city.id)= city.name
        div
          button(type="submit") Submit

