.form-group
    label(for='email') Email Address
    input#email.form-control(type='email', name="email", placeholder='Email Address')
.form-group
    label(for='password') Password
    input#password.form-control(type='password', name="password", placeholder='Password')